<div>
  <app-table-searcher />
  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>Nazwa</th>
        <th>Punkty ECTS</th>
        <th>Ezgzamin?</th>
        <th>Specjalność</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="dataSource.length === 0">
        <span class="no-result">Brak wyników...</span>
      </tr>
      <tr *ngFor="let element of dataSource">
        <td>{{ element.id }}</td>
        <td>{{ element.name }}</td>
        <td>{{ element.ects }}</td>
        <td>{{ element.isExam ? '&check;' : '' }}</td>
        <td>{{ element.programmeName }}</td>
        <td class="action-buttons">
          <button
            mat-icon-button
            aria-label="Podgląd"
            class="visibility-button"
            (click)="open(element.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Edycja"
            class="edit-button"
            (click)="edit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Usuń" class="block-button">
            <mat-icon>block</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-table-paginator [sizePerPageOptions]="sizePerPageOptions" [totalElements]="totalElements" />
</div>
