<app-card [name]="name">
  <form [formGroup]="form" (submit)="onSubmit()" novalidate>
    <label class="info-wrapper" for="name">
      <span>Nazwa *</span>
      <input type="text" id="name" name="name" formControlName="name" />
    </label>

    <label class="info-wrapper" for="course">
      <span>Wydział *</span>
      <select id="course" name="course" formControlName="course_id">
        <option *ngFor="let el of courseSelectableList" [value]="el.id">
          {{ el.name }}
        </option>
      </select>
    </label>

    <div class="info-wrapper action-buttons">
      <button mat-stroked-button aria-label="Zapisz" type="submit" class="save-button">
        <mat-icon>check_circle</mat-icon>
        Zapisz
      </button>
      <button
        mat-stroked-button
        aria-label="Anuluj"
        type="button"
        class="cancel-button"
        (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>
  </form>
</app-card>
