<app-card [name]="name">
  <form [formGroup]="form" (submit)="onSubmit()" novalidate>
    <label class="info-wrapper" for="type">
      <span>Typ grupy *</span>
      <select id="type" name="type" formControlName="type">
        <option *ngFor="let el of groupTypes" [value]="el.key">
          {{ el.key }} - {{ el.display }}
        </option>
      </select>
    </label>

    <label class="info-wrapper" for="number">
      <span>Numer grupy *</span>
      <input type="number" id="number" name="number" formControlName="number" />
    </label>

    <div class="info-wrapper action-buttons">
      <button mat-stroked-button aria-label="Zapisz" type="submit" class="save-button">
        <mat-icon>check_circle</mat-icon>
        Zapisz
      </button>
      <button
        mat-stroked-button
        aria-label="Anuluj"
        type="button"
        class="cancel-button"
        (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>
  </form>
</app-card>
