@import "global.scss";

:host {
  table {
    width: 100%;

    tr.mat-mdc-row:hover {
      background-color: $primary-hover;
    }
  }

  mat-header-cell, mat-cell {
    justify-content: left;
  }

  .left-text {
    text-align: left;
  }

  .status-block {
    padding: 4px 8px;
    border-radius: 5px;
    display: inline-block;
  }

  .active-status {
    background-color: lightgreen;
    color: green;
  }

  .inactive-status {
    background-color: lightcoral;
    color: red;
  }
}