<div>
  <app-table-searcher />
  <table>
    <thead>
      <tr>
        <th>Index</th>
        <th>Nazwa</th>
        <th>Skrócona nazwa</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="dataSource.length === 0">
        <span class="no-result">Brak wyników...</span>
      </tr>
      <tr *ngFor="let el of dataSource">
        <td>{{ el.id }}</td>
        <td>{{ el.moduleName }}</td>
        <td>{{ el.academicYearRange }}</td>
        <td>{{ el.groupName }}</td>
        <td class="action-buttons">
          <button mat-icon-button aria-label="Edycja" class="edit-button" (click)="edit(el.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Usuń" class="block-button">
            <mat-icon>block</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-table-paginator [sizePerPageOptions]="sizePerPageOptions" [totalElements]="totalElements" />
</div>
