<app-card [name]="name">
  <form [formGroup]="form" (submit)="onSubmit()" novalidate>
    <label class="info-wrapper" for="academic_year">
      <span>Rok akademicki (0000/0000) *</span>
      <input type="text" id="academic_year" name="academic_year" formControlName="academic_year" />
    </label>

    <label class="info-wrapper" for="number">
      <span>Ilość semestrów *</span>
      <input type="number" id="number" name="number" formControlName="number" />
    </label>

    <div class="info-wrapper action-buttons">
      <button mat-stroked-button aria-label="Zapisz" type="submit" class="save-button">
        <mat-icon>check_circle</mat-icon>
        Zapisz
      </button>
      <button
        mat-stroked-button
        aria-label="Anuluj"
        type="button"
        class="cancel-button"
        (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>
  </form>
</app-card>
