<app-card id="faculties" name="Wydziały" [expandMode]="true">
  <app-faculties />
</app-card>
<app-card id="courses" name="Kierunki" [expandMode]="true">
  <app-courses />
</app-card>
<app-card id="academic-years" name="Roki akademickie" [expandMode]="true">
  <app-academic-years />
</app-card>
<app-card id="programmes" name="Specjalności" [expandMode]="true">
  <app-programmes />
</app-card>
<app-card id="modules" name="Moduły" [expandMode]="true">
  <app-modules />
</app-card>
<app-card id="groups" name="Grupy zajęciowe" [expandMode]="true">
  <app-groups />
</app-card>
<app-card id="connections" name="Zarządzanie Powiązaniami" [expandMode]="true"> </app-card>
