<app-card [name]="name">
  <form [formGroup]="form" (submit)="onSubmit()" novalidate>
    <label class="info-wrapper" for="name">
      <span>Nazwa *</span>
      <input type="text" id="name" name="name" formControlName="name" />
    </label>

    <label class="info-wrapper" for="faculty">
      <span>Wydział *</span>
      <select id="faculty" name="faculty" formControlName="faculty_id">
        <option *ngFor="let el of facultySelectableList" [value]="el.id">
          {{ el.name }} ({{ el.shortName }})
        </option>
      </select>
    </label>

    <label class="info-wrapper form-array-info-wrapper" for="academic_years">
      <span id="academic_years">Lata akademickie: *</span>
      <div class="form-array-block">
        <div class="form-array-item" *ngFor="let el of academicYears.controls; let idx = index">
          <span>{{ el.value.display }}</span>
          <button
            type="button"
            aria-label="Usuń"
            class="multi-sel-btn block-button"
            (click)="removeAcademicYear(idx)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
      <button
        type="button"
        aria-label="Dodaj"
        class="add-button"
        *ngIf="!isAcademicYearsForm"
        (click)="isAcademicYearsForm = true">
        Dodaj
      </button>
    </label>

    <div class="info-wrapper action-buttons">
      <button mat-stroked-button aria-label="Zapisz" type="submit" class="save-button">
        <mat-icon>check_circle</mat-icon>
        Zapisz
      </button>
      <button
        mat-stroked-button
        aria-label="Anuluj"
        type="button"
        class="cancel-button"
        (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>
  </form>
</app-card>
