<app-card *ngIf="data" name="Szczegóły dataa">
  <div>
    <div class="info-wrapper">
      <span>Imię</span>
      <span>{{ data.firstName }}</span>
    </div>

    <div class="info-wrapper">
      <span>Nazwisko</span>
      <span>{{ data.lastName }}</span>
    </div>

    <div class="info-wrapper">
      <span>Email</span>
      <span>{{ data.email }}</span>
    </div>

    <div class="info-wrapper">
      <span>Hasło</span>
      <span>{{ data.email }}</span>
    </div>

    <div class="info-wrapper">
      <span>Rola</span>
      <span>{{ data.email }}</span>
    </div>

    <div class="info-wrapper">
      <span>Aktywny?</span>
      <span>{{ data.isActive }}</span>
    </div>
  </div>
</app-card>
