<app-card *ngIf="data" name="Szczegóły specjalności">
  <div>
    <div class="info-wrapper">
      <span>Index</span>
      <span>{{ data.id }}</span>
    </div>

    <div class="info-wrapper">
      <span>Nazwa</span>
      <span>{{ data.name }}</span>
    </div>

    <div class="info-wrapper">
      <span>Kierunek</span>
      <span>{{ data.course.name }}</span>
    </div>

    <div class="info-wrapper form-array-info-wrapper">
      <span>Moduły</span>
      <div class="form-array-item" *ngFor="let el of data.modules">
        <span>{{ el.name }}</span>
      </div>
    </div>
  </div>
</app-card>
